doctype html
html(lang="ru" class="page")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#111111")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        title WebSite Starter
        link(rel="preload" href="fonts/NameFonts.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="stylesheet" href="css/main.min.css")
        script(src="js/main.js" defer)
    body(class="page__body")
        div(class="site-container")

