:root {
	--color-main: #333;
    --color-light: #fff;
    --color-dark: #000;
	--color-accent: orange;
	--color-secondary: gray;

	--font-main: 0.875em;
	--font-title-hero: 0.875em;
	--font-title: 0.875em;
	--font-descr: 0.875em;
}
